<header
  class="flex justify-between items-center pl-8 pr-10 py-7 border-b-[1px] border-white border-opacity-20"
>
  <h1 class="font-normal text-3xl text-white uppercase font-antonio">
    The Planets
  </h1>

  <nav>
    <ul class="flex justify-between items-center gap-8">
      <li *ngFor="let planet of HeaderPlanets">
        <a
          class="font-bold text-xs uppercase cursor-pointer text-white"
          (click)="navigate(planet.name)"
          >{{ planet.name }}</a
        >
      </li>
    </ul>
  </nav>
</header>
