<header
  class="flex justify-between items-center pl-8 pr-10 py-7 border-b-[1px] border-white border-opacity-20"
>
  <h1 class="font-normal text-3xl text-white uppercase font-antonio">
    The Planets
  </h1>
  <nav>
    <ul class="flex justify-between items-center gap-8">
      <li>
        <a
          class="font-bold text-xs uppercase text-white"
          routerLink="planets/mercury"
          >mercury</a
        >
      </li>
      <li>
        <a
          class="font-bold text-xs uppercase text-white"
          routerLink="planets/venus"
          >venus</a
        >
      </li>
      <li>
        <a
          class="font-bold text-xs uppercase text-white"
          routerLink="planets/earth"
          >earth</a
        >
      </li>
      <li>
        <a
          class="font-bold text-xs uppercase text-white"
          routerLink="planets/mars"
          >mars</a
        >
      </li>
      <li>
        <a
          class="font-bold text-xs uppercase text-white"
          routerLink="planets/jupiter"
          >jupiter</a
        >
      </li>
      <li>
        <a
          class="font-bold text-xs uppercase text-white"
          routerLink="planets/saturn"
          >saturn</a
        >
      </li>
      <li>
        <a
          class="font-bold text-xs uppercase text-white"
          routerLink="planets/uranus"
          >uranus</a
        >
      </li>
      <li>
        <a
          class="font-bold text-xs uppercase text-white"
          routerLink="planets/neptune"
          >neptune</a
        >
      </li>
    </ul>
  </nav>
</header>
