<section *ngFor="let planet of selectedPlanet">
  <div
    class="buttons sm:hidden flex flex-col max-sm:pt-5 border-b-[1px] border-white border-opacity-20 max-sm:justify-around max-sm:px-6 max-sm:flex-row gap-4"
  >
    <button
      (click)="switchCategory($event)"
      value="overview"
      class="text-white uppercase max-sm:pb-5 text-[11px] font-league-spartan font-bold ring-offset-8"
      [ngClass]="category === 'overview' ? underLine() : 'no-underline'"
    >
      overview
    </button>
    <button
      (click)="switchCategory($event)"
      value="internal"
      class="text-white uppercase max-sm:pb-5 text-[11px] font-league-spartan font-bold"
      [ngClass]="category === 'internal' ? underLine() : 'no-underline'"
    >
      internal structure
    </button>
    <button
      (click)="switchCategory($event)"
      value="surface"
      class="text-white uppercase max-sm:pb-5 text-[11px] font-league-spartan font-bold"
      [ngClass]="category === 'surface' ? underLine() : 'no-underline'"
    >
      surface geology
    </button>
  </div>
  <section
    class="wrapper max-md:mt-36 max-md:flex-col max-md:items-center max-md:justify-center 2xl:h-[700px] 2xl:items-center relative md:px-[165px] flex justify-between gap-[300px] max-sm:mt-10"
  >
    <div class="relative flex flex-1 justify-center items-center">
      <img
        [src]="
          category === 'surface'
            ? planet.images.planet
            : category === 'internal'
            ? planet.images.internal
            : planet.images.planet
        "
        alt="Planet"
      />
      <div
        class="geology absolute"
        [class]="
          name === 'Jupiter' || name === 'Saturn'
            ? '2xl:-bottom-1/4'
            : '2xl:-bottom-1/2 -bottom-8'
        "
        *ngIf="category === 'surface'"
      >
        <img
          [src]="planet.images.geology"
          class="object-contain"
          alt="planet-surface"
        />
      </div>
    </div>
    <article
      class="max-md:flex max-md:-mt-32 max-sm:-mt-60 max-md:mb-7 max-md:flex-row max-md:items-center text-white 2xl:mr-11"
    >
      <div>
        <h1
          class="font-antonio max-sm:text-center text-left text-white font-normal text-[80px]"
        >
          {{ planet.name }}
        </h1>
        <p class="w-[350px] max-sm:text-center">
          {{
            category === "internal"
              ? planet.structure.content
              : category === "geology"
              ? planet.geology.content
              : planet.overview.content
          }}
        </p>
        <div
          class="flex max-sm:justify-center max-sm:mb-7 items-center mt-6 mb-10"
        >
          <span class="font-normal opacity-50">Source : </span>
          <a class="flex gap-2" [href]="planet.overview.source" target="_blank">
            <span class="underline text-white opacity-50 ml-1 font-bold text-sm"
              >Wikipedia</span
            >
            <img
              class="object-contain"
              src="/assets/images/icon-source.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="buttons max-sm:hidden flex flex-col gap-4">
        <button
          (click)="switchCategory($event)"
          value="overview"
          class="categoryButton"
          [ngClass]="category === 'overview' ? getPlanetClass() : 'bg-none'"
        >
          <span class="mr-7">01</span> overview
        </button>
        <button
          (click)="switchCategory($event)"
          value="internal"
          class="categoryButton"
          [ngClass]="category === 'internal' ? getPlanetClass() : 'bg-none'"
        >
          <span class="mr-7">02</span> internal structure
        </button>
        <button
          (click)="switchCategory($event)"
          value="surface"
          class="categoryButton"
          [ngClass]="category === 'surface' ? getPlanetClass() : 'bg-none'"
        >
          <span class="mr-7">03</span> surface geology
        </button>
      </div>
    </article>
  </section>
  <article class="flex absolute w-full bottom-14 max-md:static flex-row gap-8">
    <div class="mx-auto max-md:gap-7 flex gap-8 max-sm:flex max-sm:flex-col">
      <app-details
        [detail]="planet.rotation"
        [detailName]="'Rotation Time'"
      ></app-details>
      <app-details
        [detail]="planet.revolution"
        [detailName]="'Revolution Time'"
      ></app-details>
      <app-details
        [detail]="planet.radius"
        [detailName]="'Radius'"
      ></app-details>
      <app-details
        [detail]="planet.temperature"
        [detailName]="'Average temp.'"
      ></app-details>
    </div>
  </article>
</section>
